.header {
  &__greet {
    font-size: 1rem;
  }

  &__title {
    padding-top: 40px;
    font-size: 3rem;
  }

  &__image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

    &__text-container {
      max-width: 70vw;
    }

    &__image {
      display: unset;
      max-width: 30vw;
      max-height: 300px;
    }
  }
}
