@use "./variables" as *;

.navbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 50px;
    display: unset;
    display: flex;
    justify-content: space-between;
    padding: 17px 50px;
    position: fixed;
    top: 0;
    background-color: $primary-color;
    width: 100vw;

    &__title {
      font-weight: bolder;
    }

    &__list {
      list-style-type: none;
      display: flex;
    }

    &__item,
    &__item--border {
      text-decoration: none;
      color: $secondary_color;
      margin-left: 20px;
      padding: 5px;
    }

    &__item--border {
      border: 1px solid $secondary_color;
      border-radius: 5px;
    }
  }
}
