@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap");
.header {
  margin: 20px 10vw;
}
.header__greet {
  font-size: 1rem;
}
.header__title {
  padding-top: 40px;
  font-size: 3rem;
}
.header__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 80%;
  }
  .header__text-container {
    max-width: 70vw;
  }
  .header__image {
    margin-top: 30px;
    display: block;
    max-width: 250px;
    max-height: 250px;
  }
}
.about__title {
  text-align: center;
}
.about__image {
  display: block;
  padding: 30px 20px;
  margin: auto;
  max-width: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    padding-top: 30px;
  }
  .about__image {
    grid-area: 1/1/3/2;
    padding: 50px 20px;
    max-width: 300px;
  }
  .about__title {
    padding-top: 50px;
    grid-area: 1/2/2/3;
  }
  .about__description {
    grid-area: 2/2/3/3;
  }
}
.skills__title {
  text-align: center;
  padding: 50px 0;
}
.skills__description {
  padding: 0 20px;
}
.skills__icon-container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 20px;
}
.skills__icon-container:nth-child(1) {
  grid-area: 1/1/2/2;
}
.skills__icon-container:nth-child(2) {
  grid-area: 1/2/2/3;
}
.skills__icon-container:nth-child(3) {
  grid-area: 1/3/2/4;
}
.skills__icon-container:nth-child(4) {
  grid-area: 2/1/3/2;
}
.skills__icon-container:nth-child(5) {
  grid-area: 2/2/3/3;
}
.skills__icon-container:nth-child(6) {
  grid-area: 2/3/3/4;
}
.skills__icon-container:nth-child(7) {
  grid-area: 3/1/4/2;
}
.skills__icon-container:nth-child(8) {
  grid-area: 3/2/4/3;
}
.skills__icon-container:nth-child(9) {
  grid-area: 3/3/4/4;
}
.skills__icon {
  height: 75px;
  max-width: 60px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__icon-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .skills__description {
    text-align: center;
    padding: 0 100px;
  }
}
.projects {
  text-align: center;
  padding-top: 100px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-container .project-card {
  margin: auto;
  max-width: 450px;
  padding: 20px;
  margin-top: 50px;
  text-align: start;
  box-shadow: 0px 2vh 2vh rgba(0, 0, 0, 0.2);
}
.project-container .project-card__image {
  width: 100%;
  display: block;
  margin: auto;
  align-self: center;
  padding-bottom: 20px;
}
.project-container .project-card__lang {
  font-size: 0.8rem;
}
.project-container .project-card__description {
  padding: 20px 0;
}
.project-container .project-card__link {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-weight: bolder;
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  width: 115px;
}
.project-container .project-card__link:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .project-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  .project-card {
    margin: 10px;
    width: 400px;
  }
}
.footer {
  background-color: black;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 40px;
  box-shadow: 0px -2vh 2vh rgba(0, 0, 0, 0.2);
}
.footer__links-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.footer__link {
  margin: 10px;
}
.footer__link--email {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px 80px;
  }
  .footer__links-container {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__link--email {
    padding-top: 25px;
  }
}
.navbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100vw;
    box-shadow: 0px 2vh 2vh rgba(0, 0, 0, 0.2);
    color: white;
  }
  .navbar__title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: calc((50px - 1.5rem) / 2) 0;
  }
  .navbar__list {
    list-style-type: none;
    display: flex;
    padding: calc((50px - 1.2rem) / 2) 0;
  }
  .navbar__item {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
    font-weight: 700;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 80%;
}/*# sourceMappingURL=main.css.map */