@use "./styles/header";

@use "./styles/about";

@use "./styles/skills";

@use "./styles/project";

@use "./styles/footer";

@use "./styles/navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 80%;
}
