@use "./variables" as *;

.projects {
  text-align: center;
  padding-top: 100px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .project-card {
    margin: auto;
    max-width: 450px;
    padding: 20px;
    margin-top: 50px;
    text-align: start;
    box-shadow: 0px 2vh 2vh rgba($secondary-color, 0.2);
    border: 2px solid rgba($secondary-color, 0.4);
    border-radius: 10px;

    &__image {
      width: 100%;
      aspect-ratio: 16 / 10;
      display: block;
      margin: auto;
      align-self: center;
      margin-bottom: 10px;
      box-shadow: 0px 2vh 2vh rgba($secondary-color, 0.2);
      border: 2px solid rgba($secondary-color, 0.4);
      border-radius: 10px;
    }

    &__lang {
      font-size: 0.8rem;
    }

    &__description {
      padding: 20px 0;
      height: 120px;
    }

    &__link {
      text-decoration: none;
      border: 1px solid $secondary_color;
      color: $secondary_color;
      font-weight: bolder;
      padding: 10px 10px;
      margin-right: 20px;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
      width: 115px;
    }

    &__link:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

  .project-card {
    margin: 10px;
    width: 400px;
  }
}
